@import "../../../../styles/_variables";
.container-menu-header {
  position: absolute;
  top: 60px;
  left: 81px;
  z-index: 3;
  width: $SIZE_CONTAINER;
  @media screen and (max-width: 1250px) {
    width: 90%;
  }
}
.menu-header {
  display: flex;
  align-items: center;
  height: fit-content;
  .logo {
    svg {
      display: block;
      width: 176px;
      height: 30px;
    }
    margin-right: 159px;
  }
  .menus {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
  }
  .menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      padding-right: 12px;
    }
    a {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $COLOR_WHITE;
      text-decoration: none;
    }
    &.active a {
      color: $COLOR_DARKBLUE;
      font-weight: 700;
    }
    svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 12px;
    }
    @media screen and (max-width: 1150px) {
      &.active a {
        color: $COLOR_WHITE;
      }
      svg path{
        stroke: $COLOR_WHITE;
      }
    }
  }

  @media screen and (max-width: 1150px) {
    .logo {
      margin-right: 85px;
    }
  }
}
