$SIZE_CONTAINER: calc(100% - 234px);
$COLOR_LIGHTBLUE: #cfe5ff;
$COLOR_WHITE: #ffffff;
$COLOR_DARKBLUE: #181949;
$COLOR_LIGHTPINK: #ffd1e8;
$COLOR_LIGHTGRAY: #f4f4f4;
$COLOR_LIGHTBLUE: #f3f9ff;
$COLOR_66666: #666666;
$COLOR_SECOND_TEXT: #374754;
$COLOR_111111: #111111;
$COLOR_333333: #333333;
$COLOR_BORDER_GREY: #dedede;
$COLOR_BOX-SHADOW: rgba(0, 0, 0, 0.07);
$COLOR_TEXT: #252b42;
$COLOR_PINK: #e6367e;
$COLOR_BORDER_CONTACT: rgba(153, 153, 153, 0.46);
$COLOR_RIGHT_LOGIN: #0b206c;
$COLOR_DANGER: #ff0038