@import "../../../../styles/_variables";
.container-top-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: $COLOR_DARKBLUE;
}
.top-menu {
  width: $SIZE_CONTAINER;
  margin-left: 81px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  overflow: hidden;
  .menus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    &.active {
      color: $COLOR_DARKBLUE;
      font-weight: 700;
    }
    &:not(:last-child) {
      margin-right: 82px;
    }
    span {
      display: inline-block;
      margin-right: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $COLOR_LIGHTBLUE;
    }
    svg {
      display: inline-block;
      width: 8px;
      height: 6px;
    }
  }
}
